* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}

body {
  background-image: url(img/stock-photo-artist-painting-in-her-workshop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

